<div class="card-columns">
    <div class="card">
        <img src="/assets/img/cocina.jpg" class="card-img-top" alt="Cocina">
        <div class="card-body">
          <h5 class="card-title">Cocina</h5>
          <a [routerLink]="['/productos']" class="btn btn-outline-primary  btn-block">Ver más ...</a>
        </div>
      </div>

      <div class="card">
        <img src="/assets/img/computacion.jpg" class="card-img-top" alt="Computacion">
        <div class="card-body">
          <h5 class="card-title">Computacion</h5>
          <a [routerLink]="['/productos']" class="btn btn-outline-primary  btn-block">Ver más ...</a>
        </div>
      </div>

      <div class="card">
        <img src="/assets/img/Fotografia.jpg" class="card-img-top" alt="Fotografia">
        <div class="card-body">
          <h5 class="card-title">Fotografia</h5>
          <a [routerLink]="['/productos']" class="btn btn-outline-primary  btn-block">Ver más ...</a>
        </div>
      </div>
</div>
